<!DOCTYPE html>
<html xmlns="http://www.w3.org/a999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<title>Cobrança</title>
</head>

<body>

	<header layout:include="Cabecalho"></header>
	
	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>
	
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>